.footer {
    background-color: rgba(62, 62, 62, .97);
}

.footer-wrap {
    margin-top: 3rem;
    padding: 3rem 0rem;
}

@media (max-width: 600px) {
    .footer-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    color: black;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    color: black;
}

.footer-info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}


.footer-logo-img {
    width: 8rem;
    border-radius: .25rem;
}



@media (max-width: 600px) {
    .footer-info {
        align-items: center;
    }
}

@media (max-width: 600px) {
    .footer-info-wrap {
        align-items: center;
        margin-left: 0%;
    }
}

@media (max-width: 600px) {
    .footer-links {
        align-items: center;
    }
}



.footer-box {
    background-color: rgb(236, 234, 234);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.25rem;
    border-radius: 1rem;
    margin: 0rem 1.25rem;
}

@media (max-width:800px) {
    .footer-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.25rem;
    }

    .footer-links{
        text-align: center;
    }

    .footer-info-wrap{
        margin-left: unset;
        text-align: center;
    }
}

.footer-special-text{
    text-decoration: underline;
    text-decoration-color: #f9cc14;
}