.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
}

@media (max-width: 600px) {
    .d-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.25rem;
    }
}

.form-label {
    margin-bottom: .5rem;
    display: block;
}

.form-input {
    border-radius: .5rem;
    padding: .25rem;
    border: 1px solid #f9cc14;
}

.form-textarea {
    margin-top: 1.25rem;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(245, 245, 245) inset !important;
}

.form-overlay-point {
    position: relative;
}

.form-overlay {
    position: absolute;
    top: 2rem;
    left: 1.25rem;
    right: 1.25rem;
    bottom: 2.5rem;
    // background: rgb(0, 201, 0, .5);
    background: rgba(255, 255, 255, 0.95);
    border-radius:1rem;
}

.succes-msg{
    color: rgb(0, 228, 0);
}

.error-msg{
    color: red;
}

.form-container{
    padding: 1rem;
    background: white;
    border-radius: 1rem;
}

.loader {
    border: .5rem solid #f3f3f3; /* Light grey */
    border-top: .5rem solid #f9cc14; /* Blue */
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 1s linear infinite;
    position: absolute;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-overlay-spinner {
    position: absolute;
    top: 2rem;
    left: 1.25rem;
    right: 1.25rem;
    bottom: 2.5rem;
    // background: rgb(0, 201, 0, .5);
    background: rgba(255, 255, 255, 0.95);
    border-radius:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yarl__thumbnails_container {
    background: rgba(0, 0, 0, .6) !important;
}


.yarl__thumbnails_bottom .yarl__thumbnails_vignette, .yarl__thumbnails_top .yarl__thumbnails_vignette {
    background: unset !important;
}
