.realization-section {
    background: white;
    border-top: 1px solid #f9cc14;
}

.swiper-button-prev,
.swiper-button-next {
    color: #ffcc00 !important;
}

.swiper-slide {
    padding: 0rem 5rem;
}

@media (max-width: 800px) {
    .swiper-slide {
        padding: 0rem 4rem;
    }
}

.swiper-slide-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .swiper-slide-title {
        font-size: 1rem;
    }
}


@media (max-width: 800px) {
    .swiper-slide-custom {
        font-size: 1rem;
    }
}

.swiper-slide-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* Gap between grid items */
}

@media (max-width: 800px) {
    .swiper-slide-custom {
        display: flex;
        flex-direction: column-reverse;
    }
}

.swiper-slide-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    grid-template-rows: 1fr 1fr;
    /* Two rows */
    grid-gap: 10px;
    /* Gap between grid items */
}

@media (max-width: 800px) {
    .swiper-slide-imgs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


.swiper-slide-item img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio */
    aspect-ratio: 1/1;
    border-radius: .5rem;
}

@media (max-width: 800px) {
    .swiper-slide-item {
        margin: auto;
        width: 90%
    }
}

.swiper-slide-icon {
    min-width: 2rem !important;
    width: 2rem !important;
    margin-top: .5rem;
}

.swiper-slide-text {
    display: flex;
    gap: .5rem;
    align-items: start;
    margin-bottom: 1.25rem;
}


@media (max-width: 800px) {
    .swiper-slide-text {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: start;
        margin-bottom: 1.25rem;
    }
}

.swiper-slide-date {
    font-weight: normal;
}


@media (max-width: 800px) {
    .swiper-slide-item-mobile {
        display: none;
    }
}

@media (max-width: 800px) {
    .realizations-title{
        margin-bottom: 1rem;
    }
}


 
  @media (max-width: 800px) {
    .swiper-slide-item:not(:last-child) {
        display: none;
      }
    
}

.yarl__thumbnails_container {
    background: rgba(0, 0, 0, .6) !important;
}


.yarl__thumbnails_bottom .yarl__thumbnails_vignette, .yarl__thumbnails_top .yarl__thumbnails_vignette {
    background: unset !important;
}

@media (min-width: 801px){
    .swiper-slide-btn{
        display: none;
    }
}

.swiper-slide-btn{
    background: #ffcc00;
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: 50%;
    margin: auto;
    max-width: 310px;
    width: 100%;
}

