.reviews-section{
    padding-bottom: 5rem;
    border-bottom: 1px solid #f9cc14;
    background: white;
}

.reviews-text{
    font-weight: normal;
    padding-top: .5rem;
}

@media (max-width: 600px) {
    .reviews-item{
        text-align: center;
    }
}