.work-list {
    width: 50%;
}

@media (max-width: 800px) {
    .work-list {
        width: 100%;
    }
}

.work-section{
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}